@page "/person"

@inject PeopleDataset ds

<h3>Výpis osob</h3>

<table class="table">
    <thead>
    <tr>
        <td>
            Jméno
        </td>
        <td>
            Příjmení
        </td>
        <td>
            Email
        </td>
        <td>
            Narozen
        </td>
    </tr>
    </thead>

    <tbody>
    @foreach (var person in people)
    {
        <tr>
            <td>
                @person.FirstName
            </td>
            <td>
                @person.LastName
            </td>
            <td>
                @person.Email
            </td>
            <td>
                @person.DateOfBirth.ToString("dd. MM. yyyy")
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <button class="btn btn-primary" @onclick="LoadMore">Načti dalších 20</button>
</div>


@code {
    List<Person> people = new();

    int skip = 0;

    protected override void OnInitialized()
    {
        people = ds.GetPeople().Take(20).ToList();
        skip = 20;
    }

    void LoadMore()
    {
        var next20 = ds.GetPeople().Skip(skip).Take(20);
        people.AddRange(next20);
        skip += 20;
    }


}
