@page "/email/send"

@inject PeopleDbContext db

<h3>Fronta na pozadí</h3>

﻿<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label class="col-form-label">Pošli email na adresu</label>
    </div>
    <div class="col-auto">
        <InputText @bind-Value="Email" class="form-control" />
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" @onclick="send">
            Odešli email
        </button>
    </div>
</div>

﻿<div class="row g-3 align-items-center">
    @Message
</div>

@code {
    string Email = "";

    string Message = "";

    void send()
    {
        // is valid email??

        var email = new Email()
            {
                Id = 0,
                SendTo = Email,
                Submitted = DateTime.Now,
                Processed = null,
            };

        try
        {
            db.Emails.Add(email);
            db.SaveChanges();
            Message = $"přijato ke zpracování - {Email}";
        }
        catch(Exception ex)
        {
            Message = $"chyba: {ex.Message}";
        }
    }
}
